:root {
  --fg : #000000
}

.App {
  
}

html {
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navigation-bar {
    border: solid 1px;
    display: flex;
    justify-content: center;
    background-color: var(--fg);
}
